<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
</head>
<body>
    <h1>Lista de Tarefas</h1>
    {% for tarefa in tarefas %}
    <ul>
        <li>
            <p>Tarefa: {{ tarefa.nome }}</p>
            <p>Status: {{ tarefa.get_status_display }}</p>
            <p>Prazo: {{ tarefa.prazo }}</p>
        </li>
    </ul>
    {% endfor %}
    <a href="/">Voltar</a>
</body>
</html>